
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

.gro{
    font-family: "Space Grotesk", sans-serif;
}

.nata{
    font-family: "Nata Sans", sans-serif;
}

.robo{
    font-family: "Roboto", sans-serif;
}
