
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default , night;
}

.gro{
    font-family: "Space Grotesk", sans-serif;
}

.nata{
    font-family: "Nata Sans", sans-serif;
}

.robo{
    font-family: "Roboto", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}

.lexend{
    font-family: "Lexend", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  -moz-appearance: textfield;
}